<?xml version="1.0"?>
<!--

Copyright (c) 2018 - 2025 Daniel Popiniuc.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
-->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/12.4/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="true"
    beStrictAboutChangesToGlobalState="false"
    beStrictAboutCoversAnnotation="false"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="tests/php-unit/php-unit--bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="true">
    <testsuites>
        <testsuite name="InputOutputTesting">
            <directory suffix="Test.php">tests/php-unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">source</directory>
        </whitelist>
    </filter>
    <logging>
        <testdoxHtml outputFile="results/php-unit/testdox.html"/>
        <testdoxXml  outputFile="results/php-unit/testdox.xml"/>
        <testdoxText outputFile="results/php-unit/testdox.txt"/>
    </logging>
</phpunit>
